.App {
  text-align: center;
}

.infected{
  border-bottom: 10px solid red;
}

.livecases{
  border-bottom: 10px solid yellow;
}
.recovered{
  border-bottom: 10px solid green;
}
.deaths{
  border-bottom: 10px solid black;
}



